/*
Title: contact.component.css
Author: Professor Krasso
Date: 01/19/2023
Modified By: April Yang
Description: styling for contact page
*/


.addressCard{
    background: #E0E0E0;
    width: 70%;
    font-family: Inter;
    height: 100%;
}


.phoneCard{
    background: #E0E0E0;
    width: 70%;
    font-family: Inter;
    height: 100%;
}
