/*
Title: home.component.css
Author: Professor Krasso
Date: 01/03/2023
Modified By: April Yang
Description: styling for home page
*/


.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}
