<!--
Title: home.component.html
Author: Professor Krasso
Updated Date: 01/19/2023
Modified By: April Yang
Description: Home page template
-->

<!-- main container-->
<div fxLayout="column" class="main-welcome">
  <!-- page header-->
  <div fxFlex>
    <h1 class="title">
      Welcome to WEB 450's - nodebucket Project <br />
      <span class="subtitle">
        Pay close attention to the requirements, double and triple check the
        files for code attribution, and do not wait until the last minute to
        begin working on your tasks.
      </span>
    </h1>
  </div>

  <!-- create task input form-->
  <div fxFlex>
    <div class="task-container mat-elevation-z4" fxLayout="column">
      <mat-card>
        <form
          [formGroup]="taskForm"
          (ngSubmit)="createTask(); taskForm.reset()"
        >
          <mat-card-content>
            <mat-form-field appearance="fill" class="formField">
              <input
                type="text"
                matInput
                name="task"
                formControlName="task"
                placeholder="Enter a task name..."
              />
              <!-- button for submit a new task -->
              <button
                type="submit"
                [disabled]="!taskForm.valid"
                mat-icon-button
                matSuffix
              >
                <mat-icon
                  color="primary"
                  style="width: 36px; height: 36px; font-size: 36px"
                  >add_circle</mat-icon
                >
              </button>
            </mat-form-field>

            <!-- Display different error messages based on the validation requirements  -->
            <mat-error
              *ngIf="
                taskForm.controls['task'].hasError('required') &&
                taskForm.controls['task'].touched
              "
            >
              Task is required field.
            </mat-error>

            <mat-error
              *ngIf="
                taskForm.controls['task'].hasError('minlength') &&
                taskForm.controls['task'].touched
              "
            >
              The task field must be at least 3 characters in length.
            </mat-error>

            <mat-error
              *ngIf="
                taskForm.controls['task'].hasError('maxlength') &&
                taskForm.controls['task'].touched
              "
            >
              The task field cannot exceed 35 characters in length.
            </mat-error>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
  <!-- end create task input form-->
  <!-- list of tasks, to do list-->
  <div fxFlex style="margin-bottom: 100px">
    <div
      fxLayout="row"
      fxLayoutGap="15px"
      class="task-container"
      style="margin-top: 20px"
    >
      <!-- todo column-->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title style="font-family: Inter; font-weight: bold"
            >ToDo</mat-card-title
          >
          <mat-card-content>
            <!-- ??? #todoList -->
            <div
              fxLayout="column"
              fxLayoutGap="10px"
              class="task-column"
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[doneList]"
              (cdkDropListDropped)="drop($event)"
            >
              <!-- For loop to do items and display them in a column -->
              <div *ngFor="let item of todo" cdkDrag>
                <mat-card class="mat-elevation-z0 task-card">
                  <mat-card-content>
                    <div fxLayout="row">
                      <!-- text value-->
                      <div fxFlex style="font-family: Inter">
                        {{ item.text }}
                      </div>

                      <!-- code to delete todo task-->
                      <div fxFlex fxLayoutAlign="end" style="margin-top: -7px">
                        <!-- delete item._id from MongoDB database -->
                        <button mat-icon-button (click)="deleteTask(item._id)">
                          <mat-icon color="warn">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- end todo column-->
      <!-- list of done tasks-->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title style="font-family: Inter; font-weight: bold"
            >Done</mat-card-title
          >
          <mat-card-content>
            <div
              fxLayout="column"
              fxLayoutGap="10px"
              class="task-column"
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList]"
              (cdkDropListDropped)="drop($event)"
            >
              <!-- For loop done items and display them in a column -->
              <div *ngFor="let item of done" cdkDrag>
                <mat-card class="mat-elevation-z0 task-card">
                  <div fxLayout="row">
                    <div fxFlex style="font-family: Inter">
                      {{ item.text }}
                    </div>
                    <!-- code to delete done task-->
                    <div fxFlex fxLayoutAlign="end" style="margin-top: -7px">
                      <!-- delete item._id from MongoDB database -->
                      <button mat-icon-button (click)="deleteTask(item._id)">
                        <mat-icon color="warn">delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- end done column-->
    </div>
  </div>
</div>
