<!--
Title: base-layout.component.html
Author: Professor Krasso
Updated Date: 01/19/2023
Modified By: April Yang
Description: application layout template
-->

<div fxLayout="column">
  <!-- navigation -->
  <header>
    <nav fxFlex>
      <mat-toolbar
        style="
          border-bottom: 15px solid #d3a625;
          height: 100px;
          background-color: #740001;
        "
        color="primary"
      >
        <!-- navbar container -->
        <div class="navbar-container">
          <!-- logo -->
          <button class="logo" routerLink="/" mat-button>nodebucket</button>
          <!-- routerLink to home, about, and contact us  pages-->
          <button class="navbar-link" routerLink="/" mat-button>Home</button>
          <button class="navbar-link" routerLink="/about" mat-button>
            About
          </button>
          <button class="navbar-link" routerLink="/contact" mat-button>
            Contact Us
          </button>
        </div>

        <div fxFlex></div>

        <!-- profile menu -->
        <div>
          <!-- user profile icon button  -->
          <button
            mat-icon-button
            [matMenuTriggerFor]="profileMenu"
            aria-label="User Profile menu"
          >
            <mat-icon class="profileMenu">perm_identity</mat-icon>
          </button>

          <mat-menu #profileMenu>
            <!-- displays user's name when log in  -->
            <p class="empName">{{ employeeName }}</p>
            <mat-divider></mat-divider>
            <!-- logout user -->
            <button (click)="logout()" mat-button class="logout-link">
              Log out
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>
    </nav>
  </header>
  <!-- main content -->

  <div class="content">
    <!-- <main class="main-content" fxFlex="100%;"> -->
    <router-outlet></router-outlet>
    <!-- </main> -->
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date : "yyyy" }} - nodebucket -
          <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
            >Bellevue University</a
          >
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
