/*
Title: base-layout.component.css
Author: Professor Krasso
Date: 01/03/2023
Modified By: April Yang
Description: styling for base-layout template
*/



.logo {
  margin-left: 75px;
  font-size: 28px;
  color: #d3a625;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 10px;
  font-family: Inter;
}

.navbar-container {
  padding: 5px;
}

.navbar-link {
  font-size: 20px;
  font-weight: bold;
  background-color: #D3A625 ;
  margin-right: 10px;
  font-family: Inter;
}

.profileMenu{
  font-size: 40px;
  overflow: visible;

}

.logout-link{
  font-size: 15px;
  font-weight: bold;
  background-color: #D3A625 ;
  text-align: center;
  font-family: Inter;
  color:white;
  margin-left:15px;
}


.empName{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  font-family: Inter;
  background-color: #D9D9D9;
}

.main-content {
  padding-left: 30px;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  position: fixed;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}
