<!--
Title: confirm-dialog.component.html
Author: Professor Krasso
Updated Date: 01/26/2023
Modified By: April Yang
Description: confirm-dialog template
-->

<!-- deletion dialog with the warning string and buttons for canceling deletion or confirming deletion -->
<h2 mat-dialog-title>{{ dialogData.header }}</h2>

<div mat-dialog-content>
  <p>{{ dialogData.content }}</p>
  <small>WARNING: This action cannot be undone.</small>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions align="end">
  <button mat-raised-button matDialogClose="cancel" color="primary">
    No thanks
  </button>
  <button
    mat-raised-button
    matDialogClose="confirm"
    color="primary"
    cdkFocusInitial
  >
    Confirm
  </button>
</div>
